@charset "UTF-8";

body {
    font-family: AppleGothic;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    min-width: 1000px;
    margin: 0 auto;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header-left {
    float: left;
    padding: 30px;
}

.header-left p {
    color: #FFF;
}

.header-right {
    float: right;
    padding: 30px;
}

.header-right li {
    color: #FFF;
    display: inline-block;
}

.main-image {
    width: 100%;
    height: 660px;
    overflow: hidden;
    position: relative;
}

.main-image-list:nth-child(2),.main-image-list:nth-child(3),.main-image-list:nth-child(4),.main-image-list:nth-child(5),.main-image-list:nth-child(6) {
    display: none;
}

.main-image-list img {
    display: block;
    width: 100%;
    height: 660px;
    transform: scale(1);
}

.main-image-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../img/mainVisual-overlay.png") no-repeat;
    background-size: contain;
    background-position: 0 bottom;
}

.section-about {
    width: 100%;
    background-color: #F6F6F6;
    padding: 100px 0 100px;
}

.section-about-inner {
    width: 100%;
    text-align: center;
}

.section-contents {
    width: 100%;
    background-color: #FFFFFF;
}

.section-contents-header {
    padding: 30px 50px;
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
}

.section-contents-header ul {
    text-align: center;
}

.country-list {
    display: inline;
    margin: 0 40px;
    border-bottom: 1px solid #84FFDD;
}

.photos-list {
    width: 100%;
    background: -webkit-linear-gradient(bottom,rgba(255,255,255,1),rgba(246,246,246,1));
}

.photos-list-inner {
    max-width: 1200px;
    width: 1100px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.photos-lineup {
    float: left;
    width: 23%;
    height: 317px;
    margin: 0 0 2% 2%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.photos-lineup img {
    display: block;
    width: 100%;
    height: auto;
    border: 2px solid #FFF;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

footer {
    width: 100%;
    background-color: rgba(214,214,214,1);
    padding: 40px 0;
}

.footer-left {
    float: left;
}

.footer-right {
    width: 50%;
    float: right;
}

.footer-menu {
    float: left;
}


